.git
.github
.node_modules
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/backups
bootstrap/cache/*.php
.phpunit.result.cache
.phpunit.cache
.env
.env.*
!.env.example
tests
docs
*.md
!README.md
Homestead.json
Homestead.yaml
auth.json
public/hot
public/storage
